*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html,body{
    background-color:  #d3e9ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.navbar {
    display: flex;
    background-color: #86bbf0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

.login-container {
margin-top: 130px;
margin-left: 470px;
max-width: 800px;
height: 600px;
padding: 8px;
border-radius: 10px;
box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}
.titulo{
    margin: 10px;
     font-size: xxx-large;
    font-weight: bold;
}

.text1{
    margin: 10px;
    font-size: large;
    font-weight: bold;
}

input{
    display: block;
    width: 500px;
    height: 30px;
    background-color: white;
    border: 2px solid;
    margin-bottom: 40px;
    border-radius: 20px;
}
.back{
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: transparent;
    margin-top: 100px;
}
.email{
    margin-top: 80px;
}
ion-icon{
    font-size: xx-large;
}
.entrar{
    margin-top: 70px;
    margin-left: 700px;
}
@media (max-width: 768px) {
    .login-container{
        margin-left: 100px;
        height: auto;
        max-width: 600px;
    }
      .entrar{
    margin-left: 530px;
   }
}
