*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body, html{
    margin-top: 20;
    background-color: #d3e9ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
   }
   .titulo{
    margin-top: 30px;
    text-align:center;
   }
.véio{
    margin-left: 600px;
}
.R1{
    font-size: 20px;
    
}