*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body, html{
    margin-top: 20;
    background-color: #d3e9ff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
   }
   .titulo{
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 700px;
   }
.véio{
    margin-top: 50px;
    margin-left: 100px;
}
.R1{
    font-size: 20px;
}
.cabeça{
    display: flex;
    }
.rodinha{
    margin-top: 50px;
    margin-left: 1200px;
}
.loira{
    margin-left: 100px;
}
